$container-width: 1412px;
$base-border-radius: 10px;

$accent: #1787FF;

// Backgrounds
$bg-base: #fff;
$bg-light: #F7F8FC;
$bg-primary: $accent;
$bg-primary-light: #99C5F5;
$bg-success: #27AF1B;
$bg-danger: #F46666;

// Text-color
$color: #333;
$color-primary: #006EE5;
$color-primary-light: $accent;
$color-gray: #666;

$tablet: 768px;
$desktop: 992px;
$desktop-large: 1366px;

$theme-colors: ("primary": $accent,
	"light": $bg-light);

$desktop-average: 1200px;
$mobile: 410px;