@import "vars";
@import "libs";

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	color: #fff;
	text-decoration: none;
	background-color: $accent;
	font-weight: 800;
	letter-spacing: 0.06em;
	border-radius: 5px;
	outline: none;
	box-shadow: 0px 38px 159px rgba(0, 0, 0, 0.09), 0px 15.8755px 66.4264px rgba(0, 0, 0, 0.0646969), 0px 8.4878px 35.5147px rgba(0, 0, 0, 0.0536497), 0px 4.75819px 19.9093px rgba(0, 0, 0, 0.045), 0px 2.52704px 10.5737px rgba(0, 0, 0, 0.0363503), 0px 1.05156px 4.39994px rgba(0, 0, 0, 0.0253031);
	transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out, color .2s ease-in-out;
	cursor: pointer;

	&:hover {
		background-color: lighten($accent, 5%);
	}

	&:active {
		background-color: darken($accent, 5%);
	}

	&:focus,
	&:hover {
		box-shadow: none;
		text-decoration: none;
		color: #fff;
	}

	&-active {
		border: 2px solid $accent;
		background-color: #fff;
		color: $accent;

		&:hover,
		&:active {
			color: #fff;
			background-color: $accent;
		}
	}
}

.button-white {
	border: 2px solid $accent;
	background-color: #fff;
	color: $accent;

	&:hover,
	&:active {
		color: #fff;
	}
}

.checkbox {
	&__label {
		display: block;
		cursor: pointer;
		position: relative;
		user-select: none;
		font-weight: 600;
		font-size: 18px;
		letter-spacing: 0.06em;
		color: rgba(51, 51, 51, 0.5);
		margin-bottom: 8px;
		padding-left: 30px;
		transition: color 0.2s ease-in-out;

		&::before {
			content: "";
			display: block;
			width: 19px;
			height: 19px;
			border: 1px solid rgba(51, 51, 51, 0.1);
			position: absolute;
			left: 0;
			bottom: 0;
			border-radius: 2px;
			top: 3px;
		}

		&:hover {
			color: #000;
		}
	}

	&__input {
		display: none;

		&:checked+.checkbox__label::before {
			border: 2px solid $accent;
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath fill='%231787FF' d='M7.773 14.023a1 1 0 01-.707-.293l-4.5-4.5A1 1 0 013.98 7.816l3.793 3.793 6.793-6.793A1 1 0 1115.98 6.23l-7.5 7.5a1 1 0 01-.707.293z'/%3E%3C/svg%3E");
		}

		&:checked+.checkbox__label {
			color: $color;
		}
	}

}

body {
	font-family: 'Montserrat', sans-serif;
	background: #F7F8FC;
	padding: 40px 0;
}

.select2 {
	width: 100% !important;
}

.select2-selection {
	position: relative;
	outline: 1px solid transparent;
	transition: outline-color .2s ease-in-out;

	&:hover {
		outline-color: $accent;
	}
}

.select2-selection__rendered {
	position: absolute;
	bottom: 7px;
	left: 20px;
	width: 82%;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding: 0;
}

.select2-container .select2-selection--single {
	height: 60px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border: none;
	width: 16px;
	height: 9px;
	background-image: url(../img/arrow.svg);
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	transform: rotate(180deg);
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	right: 16px;
	top: 15px;
}

.select2-search--dropdown {
	display: none;
}

.select2-dropdown {
	border: none;
	box-shadow: 0px 50px 20px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.select2-container--default .select2-selection--single {
	border: none;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	letter-spacing: 0.06em;
	font-weight: 600;
	font-size: 18px;
	color: rgba($color, .5);
}

.select2-container--default.select2-container--below .select2-selection--single .select2-selection__rendered {
	color: $color;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__rendered {
	color: rgba($color, .5);
}

.select2-results__option {
	padding-left: 20px;
	letter-spacing: 0.06em;
	color: rgba($color, .5);
}

.select2-results__option[aria-disabled="true"] {
	display: none;
}

.filter {
	margin-bottom: 12px;
	position: relative;

	&-label {
		position: absolute;
		z-index: 100;
		top: 10px;
		left: 21px;
		font-weight: 500;
		font-size: 12px;
		color: $accent;
	}

	&-btn {
		width: 100%;
		height: 60px;
		font-size: 18px;
		box-shadow: 0px 38px 159px rgba(0, 0, 0, 0.09), 0px 15.8755px 66.4264px rgba(0, 0, 0, 0.0646969), 0px 8.4878px 35.5147px rgba(0, 0, 0, 0.0536497), 0px 4.75819px 19.9093px rgba(0, 0, 0, 0.045), 0px 2.52704px 10.5737px rgba(0, 0, 0, 0.0363503), 0px 1.05156px 4.39994px rgba(0, 0, 0, 0.0253031);
	}

	&-mobile {
		display: none;
	}
}

.choose {

	&-title {
		color: $color;
		letter-spacing: 0.005em;
		font-size: 22px;
	}

	&-input {
		display: none;

		&:checked+.choose-label::before {
			border: 2px solid $accent;
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath fill='%231787FF' d='M7.773 14.023a1 1 0 01-.707-.293l-4.5-4.5A1 1 0 013.98 7.816l3.793 3.793 6.793-6.793A1 1 0 1115.98 6.23l-7.5 7.5a1 1 0 01-.707.293z'/%3E%3C/svg%3E");
		}

		&:checked+.choose-label {
			color: $color;
		}
	}

	&-language {
		margin-top: 50px;

		&-title {
			margin-bottom: 20px;
			display: block;
		}

	}

	&-restown {
		margin-top: 30px;
		display: flex;

		&-title {
			display: block;
			margin-right: 16px;
		}

		&-label {
			cursor: pointer;
		}

		&-checkbox {
			width: 17px;
			height: 17px;
			margin: 0 3px 0 0;

			&:not(checked) {
				position: absolute;
				z-index: -1;
				opacity: 0;
				margin: 10px 0 0 20px;

				&+label {
					position: relative;
					padding: 0 0 0 60px;
					margin-top: 12px;

					&:before {
						content: '';
						position: absolute;
						top: -4px;
						left: 0;
						width: 40px;
						height: 20px;
						border-radius: 13px;
						background-color: #fff;
						transition: background-color .2s ease-in-out;
					}

					&:after {
						content: '';
						position: absolute;
						top: -5px;
						left: -1px;
						width: 22px;
						height: 22px;
						border-radius: 10px;
						background-color: #999;
						transition: left .2s ease-in-out, background-color .2s ease-in-out;
					}
				}
			}

			&:checked+label {
				&:before {
					background-color: $bg-primary-light;
				}

				&:after {
					left: 18px;
					background-color: $accent;
				}
			}
		}
	}

	&-price {
		margin-top: 30px;

		&-title {
			margin-bottom: 20px;
			display: block;
		}
	}
}

.search {
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&-title {
		color: $color;
		letter-spacing: 0.005em;
		font-size: 22px;
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}

	&-input {
		width: 77%;
		border: none;
		height: 60px;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		padding: 19px;
		font-weight: 600;
		font-size: 18px;
		letter-spacing: 0.06em;
		color: $color;
		cursor: pointer;
		outline: 1px solid transparent;
		transition: outline-color .2s ease-in-out;

		@media (max-width: 1399.98px) {
			font-size: 17px;
			padding-left: 16px;
			padding-right: 16px;
		}

		@media (max-width: 1199.98px) {
			font-size: 18px;
			padding: 19px;
		}

		&::placeholder {
			color: rgba($color, .5);
		}

		&:focus {
			outline: 2px solid $accent;
		}

		&:hover {
			outline-color: $accent;
		}
	}

	&-btn {
		width: 60px;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
		background: url(../img/search.svg) $accent no-repeat center;
	}
}

.sort {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	&-list {
		display: flex;
		padding: 0;
	}

	&-item {
		list-style-type: none;
		margin-right: 30px;
		font-weight: 600;
		font-size: 16px;
		letter-spacing: 0.005em;
		color: $color;

		&:last-of-type {
			margin-right: 0;
		}
	}

	&-link {
		font-weight: normal;
		color: $color;
		text-decoration: none;
		transition: color .2s ease-in-out;

		&-active {
			font-weight: 500;
			color: $accent;

			.sort-link-icon {
				fill: $accent;
			}
		}

		&:hover {
			color: $accent;

			.sort-link-icon {
				fill: $accent;
			}
		}

		&-icon {
			fill: $color;
			margin-left: 5px;
			margin-top: -2px;
			transition: fill .2s ease-in-out;

			&--desc {
				transform: rotate(180deg);
			}
		}
	}

	&-txt {
		font-size: 16px;
		letter-spacing: 0.005em;
		color: rgba($color, .5);
	}
}

.card {
	background-color: #fff;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 34px 0;
	color: $color;
	letter-spacing: 0.005em;
	margin-bottom: 21px;

	&-photo {
		width: 100%;
		height: 232px;
		border-radius: 5px;
		padding-top: 14px;
		padding-left: 13px;
	}

	&-rating {
		background-color: $bg-success;
		border-radius: 5px;
		font-family: 'PT Sans Caption', sans-serif;
		font-weight: bold;
		font-size: 14px;
		color: #fff;
		width: 36px;
		height: 31px;
		display: flex;
		align-items: center;
		justify-content: center;
		letter-spacing: normal;
	}

	&-info {
		border-right: 1px solid rgba(0, 0, 0, 0.1);
	}

	&-title {
		font-weight: 900;
		font-size: 24px;
		letter-spacing: 0.06em;
	}

	&-subtitle {
		font-size: 16px;
		font-weight: normal;
	}

	&-txt {
		font-weight: 300;
		font-size: 14px;
		line-height: 21px;
		margin-top: 20px;
	}

	&-link {
		color: $accent;
		text-decoration: none;
		font-size: 18px;
		letter-spacing: 0.06em;
		border-bottom: 1px solid transparent;
		transition: border-bottom-color .2s ease-in-out;

		&:hover {
			color: $accent;
			border-bottom-color: $accent;
		}
	}

	&-return {
		font-size: 16px;
		color: $accent;
		line-height: 20px;
		border: 0;
		background-color: #fff;
		padding: 0;
		text-align: left;
		transition: text-decoration .2s ease-in-out;

		&-icon {
			margin-left: 3px;
			fill: $accent;
		}

		span:hover {
			text-decoration: underline;
		}
	}

	&-addit {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&-price {
		font-weight: 600;
		font-size: 24px;
		display: block;
	}

	&-time {
		font-size: 14px;
	}

	&-btn {
		width: 100%;
		margin-top: 18px;
		font-size: 14px;
		height: 40px;
		box-shadow: 0px 38px 159px rgba(0, 0, 0, 0.09), 0px 15.8755px 66.4264px rgba(0, 0, 0, 0.0646969), 0px 8.4878px 35.5147px rgba(0, 0, 0, 0.0536497), 0px 4.75819px 19.9093px rgba(0, 0, 0, 0.045), 0px 2.52704px 10.5737px rgba(0, 0, 0, 0.0363503), 0px 1.05156px 4.39994px rgba(0, 0, 0, 0.0253031);

		&-more {
			display: none;
		}
	}

}

.more {
	display: block;
	text-align: center;
	margin-top: 42px;
	color: $color;
	font-weight: 500;
	font-size: 24px;
	letter-spacing: 0.06em;
	text-decoration: none;
	transition: color .2s ease-in-out;

	&-txt {
		margin: 0 5px;
	}

	&-icon {
		fill: $color;
		transition: fill .2s ease-in-out;
	}

	&:hover {
		color: $accent;

		.more-icon {
			fill: $accent;
		}
	}
}

@media (max-width: 1199.98px) {
	.card {
		&-info {
			border: none;

			&-addit-wrp {
				width: 35%;
			}
		}

		&-return {
			width: 31%;
		}

		&-addit {
			flex-direction: row;
			margin-top: 20px;
			justify-content: space-between;
			flex-wrap: wrap;
			align-items: flex-start;

			&:before {
				content: '';
				height: 1px;
				width: 100%;
				background-color: rgba(0, 0, 0, 0.1);
				margin-bottom: 15px;
			}
		}
	}
}

@media (max-width: 991.98px) {
	.-choose {
		&-title {
			font-size: 20px;
		}

		&-label {
			font-size: 16px;
		}

		&-restown-checkbox:not(checked)+label {
			margin-top: 6px;
		}
	}

	.search-input {
		font-size: 16px;
	}

	.sort {
		&-list {
			justify-content: space-between;
			width: 100%;
		}

		&-item {
			margin-right: 20px;
			font-size: 14px;
		}

		&-txt {
			margin: 0 0 10px auto;
			font-size: 14px;
		}
	}

	.card {
		&-info {
			margin-top: 20px;

			&-addit-wrp {
				width: 50%;
			}
		}
	}
}

@media (max-width: 767.98px) {
	body {
		padding-bottom: 110px;
	}

	.side,
	.sort-list {
		display: none;
	}

	.sort-txt {
		font-size: 16px;
		color: $color;
		margin: 0 auto 45px 0;
	}

	.card {
		padding: 1.5rem 0;

		&-title {
			font-size: 18px;
		}

		&-subtitle {
			font-size: 14px;
		}

		&-txt {
			-webkit-line-clamp: 3;
			overflow: hidden;
			display: -webkit-box;
			-webkit-box-orient: vertical;
		}

		&-link {
			display: none;
		}

		&-addit {
			flex-direction: column-reverse;
			margin-top: 10px;

			&:before {
				display: none;
			}
		}

		&-btn {
			font-size: 13px;
			height: 50px;
			width: 48%;

			&-more {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 8px;
			}
		}

		&-info-addit {
			&-wrp {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}
		}

		&-price {
			width: 100%;
		}

		&-time {
			width: 100%;
		}

		&-return {
			width: 100%;
			margin-top: 16px;
			font-size: 13px;
			letter-spacing: 0.005em;
			text-align: center;
		}
	}

	.more {
		opacity: 0.5;
		border: 3px solid #1787FF;
		filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.07)) drop-shadow(0px 1.6711px 33.4221px rgba(0, 0, 0, 0.0503198)) drop-shadow(0px 0.893452px 17.869px rgba(0, 0, 0, 0.0417275)) drop-shadow(0px 0.500862px 10.0172px rgba(0, 0, 0, 0.035)) drop-shadow(0px 0.266004px 5.32008px rgba(0, 0, 0, 0.0282725)) drop-shadow(0px 0.11069px 2.21381px rgba(0, 0, 0, 0.0196802));
		border-radius: 10px;
		height: 56px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		font-weight: 800;
		font-size: 18px;
		color: $accent;
		width: 92.5%;
		margin: 30px auto 0 auto;

		&-icon {
			display: none;
		}

		&:after {
			content: '';
			height: 16px;
			width: 32px;
			background-image: url(../img/arrow-left.svg);
			display: block;
			margin-left: 10px;
		}
	}

	.filter {
		&-mobile {
			display: flex;
			position: fixed;
			bottom: 0;
			left: 0;
			padding: 20px 0;
			width: 100%;
			background-color: #fff;
			box-shadow: 0px -7px 80px rgba(0, 0, 0, 0.07), 0px -2.92443px 33.4221px rgba(0, 0, 0, 0.0503198), 0px -1.56354px 17.869px rgba(0, 0, 0, 0.0417275), 0px -0.876509px 10.0172px rgba(0, 0, 0, 0.035), 0px -0.465507px 5.32008px rgba(0, 0, 0, 0.0282725), 0px -0.193708px 2.21381px rgba(0, 0, 0, 0.0196802);
			border-radius: 20px 20px 0px 0px;
			align-items: center;
			z-index: 9999999;

			.container {
				padding: 0;
			}

			&-btn {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				background-color: transparent;
				border: 0;
				position: relative;

				&-txt {
					margin-top: 5px;
					width: 100%;
					font-size: 14px;
					letter-spacing: 0.005em;
				}

				&-marker {
					display: block;
					background-color: #FF5353;
					height: 16px;
					line-height: 16px;
					border-radius: 8px;
					padding: 0 5px;
					font-size: 13px;
					color: #fff;
					position: absolute;
					top: -8px;
					left: 65px;
				}
			}

			&-item {
				display: flex;
				justify-content: center;
				position: relative;

				&:after {
					content: '';
					display: block;
					width: 2px;
					height: 40px;
					background-color: rgba(0, 0, 0, 0.05);
					position: absolute;
					right: 0;
					top: 0;
				}

				&:last-of-type {
					&:after {
						display: none;
					}
				}
			}
		}
	}

	.choose {
		&-title {
			font-size: 22px;
		}

		&-label {
			font-size: 18px;
		}
	}

	.search {
		&-input {
			width: 80%;
			font-size: 18px;
		}
	}
}

@media (max-width: $mobile) {
	.card-btn {
		width: 100%;

		&-more {
			margin-right: 0;
		}
	}

	.card-return {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.search-input {
		width: 75%;
	}
}

.switch {
	display: flex;
	align-items: center;
	margin-top: 17px;
	margin-bottom: 18px;

	&-title {
		font-weight: 500;
		font-size: 18px;
		letter-spacing: 0.005em;
		color: $color;
	}

	&-label {
		cursor: pointer;
	}

	&-checkbox {
		width: 17px;
		height: 17px;
		margin: 0 3px 0 0;

		&:not(checked) {
			position: absolute;
			z-index: -1;
			opacity: 0;

			&+label {
				position: relative;
				padding: 0 0 0 60px;
				margin: -10px 0 0 12px;

				&:before {
					content: '';
					position: absolute;
					top: -4px;
					left: 0;
					width: 40px;
					height: 20px;
					border-radius: 13px;
					background-color: #fff;
					transition: background-color .2s ease-in-out;
				}

				&:after {
					content: '';
					position: absolute;
					top: -5px;
					left: -1px;
					width: 22px;
					height: 22px;
					border-radius: 10px;
					background-color: #999;
					transition: left .2s ease-in-out, background-color .2s ease-in-out;
				}
			}
		}

		&:checked+label {
			&:before {
				background-color: $bg-primary-light;
			}

			&:after {
				left: 18px;
				background-color: $accent;
			}
		}
	}
}

.wrp {
	background: #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 5px;

	.button {
		width: 100%;
		height: 50px;
		margin-top: 35px;
		font-size: 14px;
	}
}

.notification {
	padding: 15px 1.5rem 20px 1.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&-icon {
		margin-right: 20px;
		width: 29px;
		height: 29px;
	}

	&-wrp {
		width: 80%;
	}

	&-title {
		font-weight: 500;
		letter-spacing: 0.06em;
		color: $color;
	}

	&-txt {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.06em;
		color: $color;
		margin-top: 10px;
		margin-bottom: 0;
	}
}

.datepicker {
	position: relative;
	width: 144px;
	height: 60px;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	cursor: pointer;
	transition: outline-color .2s ease-in-out;

	&:hover {
		outline: 1px solid $accent;
	}

	&-label {
		position: absolute;
		top: 10px;
		left: 12px;
		z-index: 100;
		font-weight: 500;
		font-size: 12px;
		color: $accent;
	}

	&-input {
		width: 100%;
		height: 100%;
		border: 0;
		border-radius: inherit;
		position: absolute;
		bottom: 5px;
		padding-top: 31px;
		padding-left: 12px;
		font-weight: 600;
		font-size: 12px;
		letter-spacing: 0.06em;
		color: $color;
		cursor: pointer;
		z-index: 1000;
		background-color: transparent;

		&:focus {
			border: 0;
			outline: none;
		}

		&::placeholder {
			color: rgba($color, .5);
		}
	}

	&-icon {
		position: absolute;
		right: 15px;
		bottom: 14px;
	}
}

.line {
	position: relative;

	&:after {
		content: '';
		width: 100%;
		height: 1px;
		display: block;
		background-color: rgba(0, 0, 0, 0.1);
		position: absolute;
	}
}

.nav {
	margin-bottom: 50px;

	&:after {
		bottom: -19px;
	}

	&-title {
		font-weight: 600;
		font-size: 18px;
		letter-spacing: 0.005em;
		color: $color;
		margin-bottom: 10px;
	}

	&-list {
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&-item {
		list-style-type: none;
		margin-top: 13px;
		width: 100%;
	}

	&-link {
		height: 54px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid rgba(51, 51, 51, 0.1);
		border-radius: 5px;
		text-decoration: none;
		font-size: 16px;
		letter-spacing: 0.005em;
		color: $color;
		background-color: #fff;
		transition: color .2s ease-in-out, border-color .2s ease-in-out;

		@media (max-width: $mobile) {
			justify-content: flex-start;
			padding-left: 75px;
		}

		&-svg {
			margin-right: 10px;
		}

		&:hover {
			color: $accent;
			border-color: $accent;
		}
	}
}

.title {
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 0.005em;
	color: $accent;
	margin-bottom: 14px;
}

.subtitle {
	font-weight: 800;
	font-size: 20px;
	letter-spacing: 0.005em;
	color: $color;
	line-height: 24px;
	margin-bottom: 16px;
}

.txt {
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.06em;
	margin: 24px 0 0 0;
}

.bold {
	font-weight: 500;
}

.item {
	list-style-type: none;
	position: relative;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.06em;
	color: $color;
	margin-top: 21px;

	&:after {
		content: '';
		position: absolute;
		top: -1px;
		left: -30px;
		display: block;
		width: 20px;
		height: 20px;
		border-radius: 5px;
		background: url("../img/check-mark.svg") rgba($accent, .4) center / 60% no-repeat;
	}
}

.hidden,
.open {
	background-color: transparent;
	border: 0;
	padding-left: 0;
	padding-right: 0;
	font-size: 16px;
	letter-spacing: 0.06em;
	color: $accent;
	width: 100%;
	text-align: left;
	margin: 10px 0 15px;
	transition: border-color .2s ease-in-out;
	border-bottom: 1px solid transparent;

	&-icon {
		fill: $accent;
		margin-top: -2px;
		margin-left: 3px;
	}

	&:hover {
		border-color: $accent;
	}
}

.open {
	margin-top: 25px;

	&-icon {
		transform: rotate(180deg);
	}
}

.about {
	margin-bottom: 45px;

	&-wrp {
		padding: 17px 1.5rem 14px 1.5rem;
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		.button {
			width: 100%;
			min-height: 50px;
			margin-top: 25px;
			font-size: 13px;
		}
	}

	&-button {
		&-icon {
			stroke: #fff;
			margin-left: 9px;
		}
	}
}

.price {
	font-weight: 600;
	font-size: 36px;
	letter-spacing: 0.005em;
	color: $accent;
	margin-right: 15px;

	&-request {
		font-size: 27px;
		margin-right: auto;
	}
}

.time,
.direction {
	font-size: 16px;
	letter-spacing: 0.005em;
	color: $color;
	display: block;
	margin-right: 0;

	@media (min-width: $mobile) {
		margin-left: 20px;
	}

	@media (min-width: $tablet) {
		margin-left: 0;
	}

	&-request {
		display: none;
	}
}

.residence {
	&-txt {
		line-height: 20px;
		letter-spacing: 0.005em;
		color: $color;
	}

	&-date {
		display: flex;
		flex-wrap: wrap;

		&-legend {
			font-size: 18px;
			letter-spacing: 0.06em;
			color: $color;
			margin-top: 27px;
			margin-bottom: 13px;
			width: 100%;
		}
	}

	&-datepicker {
		margin-right: 8px;
	}
}

.place {
	margin-top: 35px;
	padding: 25px 1.5rem 16px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;

	.checkbox {
		&__label {
			font-size: 14px;
			line-height: 21px;
			font-weight: normal;
			color: $color;

			&::before {
				top: 1px;
			}

			&:hover {
				color: $color-gray;
			}
		}
	}

	&-title {
		font-weight: 800;
		color: $color;
		margin-bottom: 19px;
		text-align: center;
	}

	&-img {
		text-align: center;
		width: 100%;
		height: 210px;
		border-radius: 5px;
		margin-bottom: 19px;
		background: center / cover no-repeat;

		@media (min-width: $desktop) {
			height: 140px;
		}

		&-family {
			background-image: url(../img/family.jpg);
		}

		&-residence {
			background-image: url(../img/residence.jpg);
		}

		&-hotel {
			background-image: url(../img/hotel.jpg);
		}
	}


	&-line {
		&:after {
			top: -15px;
		}
	}

	&-form {
		&.hidden {
			display: none;
		}
	}
}

.condition {
	display: block;
	padding-right: 10px;
	padding-left: 10px;
	border: 1px solid rgba(51, 51, 51, 0.1);
	border-radius: 5px;
	padding: 7px 10px;
	margin-bottom: 10px;
	font-size: 16px;
	letter-spacing: 0.005em;
	color: $color;
	width: 100%;
	margin-right: 0;

	@media (min-width: $mobile) {
		width: auto;
		margin-right: 8px;

		&:nth-of-type(2) {
			margin-right: 0;
		}
	}

	@media (min-width: $tablet) {
		width: 100%;
		margin-right: 0;
	}

	@media (min-width: $desktop) {
		width: auto;
	}

	&-icon {
		margin-right: 9px;
	}
}

.benefits,
.room,
.nutrition {
	&-title {
		font-size: 18px;
		margin-top: 30px;
		font-weight: 800;
		color: $color;
	}
}

.benefits {
	&:after {
		top: 10px;
	}

	&.hidden {
		display: none;
	}
}

.room,
.nutrition {
	margin-top: 18px;
	margin-bottom: 35px;

	&:after {
		top: -15px;
	}
}

.nutrition {
	margin-bottom: 25px;
}

.residence,
.hotel {
	&-title {
		font-size: 25px;
		line-height: 30px;
		text-align: center;
	}
}

.school {
	margin-top: 55px;

	&-title {
		margin-bottom: 15px;
	}

	&-wrp {
		padding-top: 35px;
		padding-bottom: 31px;
		margin-bottom: 33px;
	}

	&-subtitle {
		font-size: 26px;
		text-align: center;
		margin-bottom: 24px;
		line-height: 30px;
	}

	&-photo {
		border-radius: 5px;
		width: 100%;
		height: 200px;
		background: center / cover no-repeat;

		@media (min-width: $desktop-average) {
			height: 300px;
		}

		&-certificate {
			background-image: url(../img/certificate.jpg);

			@media (min-width: $desktop-average) {
				height: 250px;
			}
		}

		&-teacher {
			background-image: url(../img/teacher.jpg);
		}

		&-students {
			background-image: url(../img/students.jpg);
		}

	}

	&-logo {
		margin: 24px 10px 0 10px;
	}

	&-inner {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
	}

	&-item {
		line-height: 20px;

		&:after {
			top: 0;
		}
	}
}

.location {
	margin-top: 44px;
	margin-bottom: 44px;

	&-wrp {
		padding: 31px 0;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	&-subtitle {
		margin-bottom: 0;
		font-size: 24px;
		margin-left: 18px;
	}

	&-adress {
		margin: 17px 0;
		font-size: 14px;
		color: $color;
		line-height: 17px;
		letter-spacing: 0.06em;
		width: 100%;
	}

	&-map {
		width: 100%;
		height: 455px;
		border-radius: 5px;
	}

	&-video {
		margin-top: 27px;
		width: 100%;
		height: auto;
	}
}

.other {
	&-wrp {
		padding: 25px 1.5rem 15px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 21px;
	}

	&-line {
		&:after {
			top: -15px;
		}
	}

	&-subtitle {
		font-size: 24px;
		margin-bottom: 15px;
	}

	&-list {
		margin-bottom: 33px;

		&.hidden {
			display: none;
		}
	}

	&-item {
		&:nth-of-type(1) {
			margin-top: 8px;
		}
	}
}

.transfer {
	margin-top: 44px;

	&-subtitle {
		font-size: 24px;
		margin-bottom: 18px;
	}

	&-checkbox__label {
		font-size: 16px;
		color: rgba($color, .5);
		line-height: 21px;
		font-weight: normal;
	}

	&-checkbox__input .course-checkbox__label {
		color: $color;
	}

	&-wrp {
		padding: 24px 0 17px;
		margin-bottom: 21px;
		width: 100%;
	}

	&-inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-top: 5px;
	}

	&-button {
		margin-top: 16px;
	}
}

.direction {
	line-height: 16px;
	width: 60px;
}

.book {
	padding: 20px 1rem 29px;
	position: sticky;
	top: 0;
	height: 900px;
	overflow: auto;
	margin-bottom: 30px;

	@media (max-height: 900px) {
		position: relative;
		overflow: visible;
		height: auto;
	}

	@media (min-width: $tablet) {
		margin-bottom: 0;
	}

	&::-webkit-scrollbar {
		width: 0;
	}

	&-inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	&-price {
		margin-right: 9px;

		@media (min-width: $tablet) {
			margin-right: 0;
		}

		@media (min-width: $desktop) {
			margin-right: 9px;
		}
	}

	&-hr {
		margin-top: 15px !important;
		margin-bottom: 15px !important;
		height: 0.5px !important;
	}

	.filter {
		width: 100%;
		margin-top: 16px;
		position: relative;

		&-label {
			position: absolute;
			z-index: 100;
			top: 10px;
			left: 12px;
			font-weight: 500;
			font-size: 12px;
			color: $accent;
		}

		&-btn {
			width: 100%;
			height: 60px;
			font-size: 18px;
			box-shadow: 0px 38px 159px rgba(0, 0, 0, 0.09), 0px 15.8755px 66.4264px rgba(0, 0, 0, 0.0646969), 0px 8.4878px 35.5147px rgba(0, 0, 0, 0.0536497), 0px 4.75819px 19.9093px rgba(0, 0, 0, 0.045), 0px 2.52704px 10.5737px rgba(0, 0, 0, 0.0363503), 0px 1.05156px 4.39994px rgba(0, 0, 0, 0.0253031);
		}

		&-term {
			width: 49%;
			margin-bottom: 27px;
		}

		&-datepicker {
			margin: 16px 0;
			width: 49%;
		}

		.select2-container--default .select2-selection--single .select2-selection__rendered {
			font-size: 14px;
		}

		.select2-selection__rendered {
			left: 12px;
		}

		&-mobile {
			display: none;
		}
	}
}

.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	&-subtitle {
		font-size: 18px;
		font-weight: 600 !important;
		margin-bottom: 0;

		&-necessary {
			margin-top: 11px;
			margin-bottom: 12px;
		}
	}

	&-price {
		font-size: 24px;
		margin-right: 0;
	}

	&-date {
		margin-top: 16px;
		width: 49%;
		margin-bottom: 27px;
	}

	&-checkbox {
		&__label {
			width: 100%;
			color: rgba($color, .5);
			font-size: 14px;
			line-height: 21px;
			font-weight: normal;
			padding-top: 2px;

			&:last-of-type {
				margin-bottom: 18px;
			}
		}

		&__input {
			&:checked {
				.checkbox__label {
					color: $color;
				}
			}

		}
	}

	&-return {
		font-size: 14px;
		text-align: center;
		color: $accent;
		border: 0;
		background-color: #fff;
		padding: 0;
		margin: 15px auto 0;

		&-icon {
			margin-left: 3px;
			fill: $accent;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	&-button {
		width: 100% !important;
		margin-top: 19px !important;
	}
}

.page-course {
	flex-direction: column-reverse;

	@media (min-width: $tablet) {
		flex-direction: row;
	}
}

@media (min-width: $mobile) {
	.notification {
		&-icon {
			width: 46px;
			height: 46px;
		}
	}

	.nav {
		&-item {
			&:nth-of-type(1) {
				width: 42%;
			}

			&:nth-of-type(2) {
				width: 54%;
			}

			&:nth-of-type(3) {
				width: 56%;
			}

			&:nth-of-type(4) {
				width: 40%;
			}

			&:nth-of-type(5) {
				width: 51%;
			}

			&:nth-of-type(6) {
				width: 45%;
			}
		}
	}

	.about-wrp {
		.button {
			font-size: 14px;
		}
	}

	.item {
		&:after {
			top: -1px;
		}
	}

	.residence {
		&-datepicker {
			margin-right: 12px;
		}
	}

	.residence,
	.hotel {
		&-title {
			font-size: 30px;
		}
	}

	.price {
		&-request {
			font-size: 30px;
		}
	}

	.school {
		&-subtitle {
			font-size: 30px;
		}

		&-item {
			&::after {
				top: 0;
			}
		}

		&-inner {
			justify-content: space-between;
		}
	}

	.other {
		&-item {
			&:after {
				top: -2px;
			}
		}
	}
}

@media (min-width: $desktop) {
	.notification {
		align-items: center;
		padding: 26px 1.5rem;

		&-wrp {
			width: 85%;
		}

		&-icon {
			width: 65px;
			height: 65px;
		}

	}

	.switch-checkbox:not(checked)+label {
		margin-right: -20px;
	}

	.title {
		margin-bottom: 13px;
		font-size: 36px;
	}

	.subtitle {
		font-size: 25px;
	}

	.item {
		font-size: 20px;
		line-height: 24px;
	}

	.txt {
		margin-top: 0;
	}

	.hidden,
	.open {
		font-size: 18px;
	}

	.price {
		font-size: 34px;
	}

	.nav {
		&-item {
			&:nth-of-type(1) {
				width: 26%;
			}

			&:nth-of-type(2) {
				width: 33%;
			}

			&:nth-of-type(3) {
				width: 35%;
			}

			&:nth-of-type(4) {
				width: 28%;
			}

			&:nth-of-type(5) {
				width: 35%;
			}

			&:nth-of-type(6) {
				width: 31%;
			}
		}

		&-title {
			font-size: 24px;
		}
	}

	.about {
		&-wrp {
			padding-top: 27px;
			padding-bottom: 24px;

			.button {
				padding: 0 20px;
				margin-top: 0;
				width: auto;
				margin-left: auto;
			}
		}
	}

	.residence {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		&-txt {
			margin-top: 10px;
			margin-bottom: 18px;
		}

		&-date {
			width: 100%;
			justify-content: flex-start;
			align-items: center;
		}
	}

	.place {
		padding: 38px 1.5rem;

		.checkbox {
			&__label {
				font-size: 16px;
				margin-bottom: 10px;
				line-height: 24px;

				&:hover {
					color: $color;
					text-decoration: underline;
				}
			}
		}

		&-title {
			margin-bottom: 20px;
			font-size: 26px;
		}

		.container {
			padding: 0;
		}

		.button {
			width: 40%;
			margin-top: 0;
			margin-left: auto;
		}
	}

	.room {
		margin-top: 40px;

		&:after {
			top: -25px;
		}

		&-title {
			margin-bottom: 14px;
			font-size: 24px;
		}
	}

	.nutrition {
		margin-top: 60px;

		&:after {
			top: -25px;
		}

		&-title {
			margin-bottom: 14px;
			font-size: 24px;
		}
	}

	.benefits {
		&-title {
			font-size: 24px;
		}
	}

	.condition {
		margin-right: 0;
	}

	.school {
		&-subtitle {
			margin: 0;
			font-weight: 600;
		}

		&-inner {
			justify-content: flex-start;
			margin-top: 15px;
		}

		&-logo {
			height: auto;
			margin: 0;

			&:nth-of-type(1) {
				width: 99px;
				margin-right: 20px;
			}

			&:nth-of-type(2) {
				width: 146px;
			}
		}

		&-item {
			font-size: 14px;
			line-height: 20px;

			&:nth-of-type(1) {
				margin-top: 0;
			}
		}

		&-photo {
			margin-top: 21px;
		}
	}

	.location {
		&-wrp {
			padding: 38px 0;
		}

		&-subtitle {
			font-size: 24px;
			line-height: 29px;
		}

		&-adress {
			font-size: 16px;
			margin: 20px 0;
		}

		&-map {
			height: 412px;
			margin-bottom: 15px;
		}

		&-inner {
			align-items: center;
			margin-top: 32px;
		}

		&-video {
			margin-top: 0;
		}
	}

	.other {
		&-item {
			&:after {
				top: 2px;
			}
		}

		&-wrp {
			padding-top: 34px;
			padding-bottom: 41px;

			.button {
				width: 40%;
				margin-top: 0;
				margin-left: auto;
			}
		}
	}

	.transfer {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&-subtitle {
			font-size: 20px;
			margin: 0;
		}

		&-checkbox__label {
			margin-left: 10px;

			&:before {
				top: 2px;
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		&-title {
			margin-top: 7px;
		}

		&-wrp {
			padding-top: 17px;

			.row {
				align-items: center;
			}

			.button {
				display: none;
			}
		}
	}

	.direction {
		width: 100%;
	}

	.form {
		&-subtitle {
			font-size: 20px;
		}

		&-price {
			font-size: 24px;
		}
	}
}

@media (min-width: $desktop-average) {
	.notification {
		padding-right: 17px;

		&-txt {
			font-size: 16px;
		}

		&-wrp {
			width: 89%;
		}
	}

	.block {
		&__tags {
			display: flex !important;
			flex-wrap: wrap;
			width: 100%;

			@media (min-width: $desktop-large) {
				width: 87%;
			}
		}
	}

	.subtitle {
		font-size: 30px;
	}

	.title {
		margin-bottom: 18px;
	}

	.txt {
		font-size: 18px;
		line-height: 25px;
		margin: 0;
	}

	.nav {
		&-item {
			width: 32% !important;

			&:nth-of-type(4) {
				order: 1;
			}

			&:nth-of-type(3) {
				order: 2;
			}

			&:nth-of-type(5) {
				order: 3;
			}

			&:nth-of-type(6) {
				order: 4;
			}
		}

		&-link {
			padding-left: 14px;
			padding-right: 14px;
		}
	}

	.hidden,
	.open {
		width: auto;
		margin: 0 37px 0 auto;
		order: 1;
	}

	.hr {
		width: 100%;
		height: 1px;
		display: block;
		background-color: rgba(0, 0, 0, 0.4);
		margin-top: 0;
		margin-bottom: 25px;
	}

	.item {
		&:after {
			top: 2px;
		}
	}

	.about {
		&-wrp {
			.button {
				order: 2;
				margin-left: 0;
			}

			.hidden,
			.open {
				margin-right: 17px;
			}
		}
	}

	.residence,
	.transfer {
		.switch {
			&-title {
				font-size: 22px;
				font-weight: normal;
			}
		}
	}

	.residence {
		&-txt {
			font-size: 20px;
		}

		&-date {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin-top: 54px;

			&-legend {
				font-size: 20px;
				width: auto;
				margin: 0;
				margin-right: 17px;
			}
		}
	}

	.place {
		&-title {
			font-size: 30px;
			text-align: left;
		}

		&-line {
			&:after {
				display: none;
			}
		}
	}

	.place,
	.other {
		.button {
			width: 204px;
			order: 1;
			margin-left: 0;
		}
	}

	.condition {
		margin-right: 10px;

		&:nth-of-type(2) {
			order: 1;
		}
	}

	.benefits {
		&-title {
			margin-top: 50px;
			font-size: 24px;
		}

		&:after {
			top: 17px;
		}
	}

	.nutrition {
		&-title {
			font-size: 24px;
		}
	}

	.place {
		&-request {
			margin-right: auto;
		}
	}

	.school {
		&-wrp {
			padding: 41px 0;
		}

		&-subtitle {
			font-size: 20px;
			margin-bottom: 15px;
		}

		&-photo {
			margin: 0;
		}

		&-inner {
			padding-left: 38px;
			margin-top: 0px;
		}

		&-logo {
			margin-left: 0;
			margin-right: 28px !important;
			margin-top: 14px;
		}

		&-item {
			font-size: 18px;
			line-height: 25px;
			margin-top: 8px;

			&:nth-of-type(1) {
				margin-top: 0;
			}

			&:after {
				top: 2px;
			}
		}
	}

	.location {
		&-subtitle {
			font-size: 24px;
		}

		&-adress {
			font-size: 20px;
			margin-top: 25px;
			margin-bottom: 32px;
		}

		&-map {
			margin-bottom: 25px;
		}

		&-video {
			margin: 0;
			padding-right: 23px;
		}

		&-inner {
			margin-top: 32px;
		}
	}

	.other {
		&-wrp {
			padding-bottom: 25px;
		}

		&-line {
			&:after {
				display: none;
			}
		}

		&-subtitle {
			margin-bottom: 31px;
			width: 100%;
		}

		&-item {
			&:nth-of-type(1) {
				margin-top: -6px;
			}
		}

		&-list {
			width: 100%;
		}
	}

	.direction {
		width: 60px;
	}

	.form {
		&-subtitle {
			font-size: 17px;
		}

		&-price {
			font-size: 22px;
		}

		&-return {
			font-size: 12px;
		}
	}

	.book {
		&-price {
			margin-right: 0;
		}
	}
}

@media (min-width: $desktop-large) {
	.nav {
		nav {
			width: 100%;
		}

		&-item {
			width: auto !important;
		}
	}

	.book-price {
		margin-right: 9px;
	}
}

.forms {
	padding: 50px 1.5rem 59px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&-title {
		font-weight: 600;
		font-size: 27px;
		text-align: center;
		letter-spacing: 0.005em;
		color: $color-primary;
		margin-bottom: 16px;
	}

	&-txt {
		font-size: 15px;
		line-height: 18px;
		text-align: center;
		letter-spacing: 0.005em;
		color: $color;
		margin-bottom: 18px;
		width: 91%;
	}

	&-info {
		font-weight: 300;
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		letter-spacing: 0.005em;
		color: rgba($color, .8);
		margin-top: 7px;

		&-consultant {
			width: 100%;
			margin-bottom: -5px;
		}

		&-send {
			width: 100%;
			margin-bottom: 23px;
		}
	}

	&-input {
		width: 100%;
		height: 70px;
		border: 0;
		background-color: #FFFFFF;
		box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.07), 0px 1.6711px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 0.893452px 17.869px rgba(0, 0, 0, 0.0417275), 0px 0.500862px 10.0172px rgba(0, 0, 0, 0.035), 0px 0.266004px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 0.11069px 2.21381px rgba(0, 0, 0, 0.0196802);
		border-radius: 10px;
		font-weight: 600;
		font-size: 18px;
		letter-spacing: 0.06em;
		color: $color;
		padding-left: 28px;
		margin-top: 16px;
		transition: outline .2s ease-in-out;
		cursor: pointer;

		&::placeholder {
			color: rgba($color, .5);
		}

		&:hover {
			outline: 1px solid $accent;
		}

		&:focus {
			outline: 2px solid $color-primary;
		}
	}

	&-button {
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
		height: 50px;
		font-size: 14px;
		box-shadow: 0px 38px 159px rgba(0, 0, 0, 0.09), 0px 15.8755px 66.4264px rgba(0, 0, 0, 0.0646969), 0px 8.4878px 35.5147px rgba(0, 0, 0, 0.0536497), 0px 4.75819px 19.9093px rgba(0, 0, 0, 0.045), 0px 2.52704px 10.5737px rgba(0, 0, 0, 0.0363503), 0px 1.05156px 4.39994px rgba(0, 0, 0, 0.0253031);

		&-feedback {
			margin-top: 35px;
		}
	}

	&-link {
		font-weight: 300;
		font-size: 16px;
		letter-spacing: 0.005em;
		color: rgba($color-primary, .8);
		text-decoration: none;
		margin-top: 17px;
		text-align: center;
		width: 100%;

		&:hover {
			text-decoration: underline;
		}
	}
}

@media (min-width: $mobile) {
	.forms {
		&-title {
			font-size: 36px;
		}

		&-txt {
			font-size: 18px;
		}

		&-info {
			&-consultant {
				width: 66%;
			}

			&-send {
				width: 80%;
			}
		}
	}
}